<div>
    <div class="slideshow-container" style="border-radius: 10px;padding:12px 0px 0px">
    <div *ngFor="let image of images; let i = index" class="mySlides fade" [ngStyle]="{'display': i === currentIndex ? 'block' : 'none'}">
      <div class="numbertext">{{ i + 1 }} / {{ images.length }}</div>
      <img [src]="image">
     
    </div>
  </div>
  
 
  </div>


   <!-- <div style="text-align:center">
    <span *ngFor="let image of images; let i = index" class="dot" [class.active]="i === currentIndex" (click)="currentSlide(i + 1)"></span> 
  </div> -->